body {
    background-color:#D3DBFD;
    font-family: Arial, Helvetica, sans-serif;
}
img{
	border-radius:30px;
}	
/*Boton de login*/
.boton {
    border-radius: 5px;
    margin-left: 350px;
    padding: 10px;
    padding-left: 20px;
    padding-right:20px ;
    font-size: 25px;
    background-color: white;
}
.boton:hover {
    background-color: rgba(136, 130, 130, 0.747);
    color: white;
}
/*Menu de inicio*/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color:#007A10;
    width: 100%;
    margin: initial;
    border: 100%;
}
.menu li{
    height: auto;
    text-align: center;
    color: white;
    display: inline-block;
    margin: auto;
}
.menu li a{
    height: auto;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: Verdana;
    display: block;
}

.menu li a:hover{
    height: auto;
    background-color:grey;
}
.menu img{
    display: inline;
    float: left;
    height: 75px;
    width: 150px;
}
.menu p{
    text-align: center;
    display: inline-block;
}
.menu p a{
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: Verdana;
    display: inline;
}
.menu p a:hover{
    background-color:grey;
    color: white;
    height: auto;
}
/*Div de noticias de ultima hora */
.clima1{
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 20px ;
    margin-top: 20px;
    width: 380px;
}
.clima1 h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	color:#007A10;
}
.clima1 img{
    width: 380px;
    height: 250px;
}
.clima3{
    float: left;
    margin-left: 70px;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 380px;
}
.clima3 h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	color:#007A10;
}
.clima3 img{
    width: 380px;
    height: 250px;
}
.clima4{
	float: left;
    margin-bottom: 50px;
    width: 380px;
}
.clima6{
    float: right;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    width: 280px;
	color:#007A10;
}    
.clima6 img{
    width: 280px;
    height: 150px;
}
.clima6 h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid black;
	color:
}
#ultimasNoticias{
    margin-left: 40px;
    border-left: 3px solid;
    padding: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.documento{
    word-spacing: 5px;
}
#infoCovid{
    position: fixed;
    top: 75px;
    padding: 0px;
    background-color:red;
    width: 100%;
    margin: auto;
    left: 0;
    text-align: center;
}
#infoCovid a{
    margin-right: 50px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.copyright{
    text-align: center;
    left: 0;
    right: 0;
    top: 1250px;
    position: absolute;
    height: 130px;
    display: block;
    background-color:#007A10;
    padding: 30px;
}
.copyright p{
    color: rgb(175, 175, 175);
    margin-left: 450px; 
}
.contacto{
	display:inline-block;
}
a{
	text-decoration:none;
}
#copyright a:visited{
	color:rgb(128, 127, 127);
}
#copyright a:hover{
	color:white;
}
i{
	display:inline-block;
	color:rgb(128, 127, 127);
	font-size:35px;
	margin:0px, 2px;
}
i:hover{
    color:white;
}
.usuari{
    color: rgb(255, 255, 255);
    margin-left: 350px;
    border-radius: 10px;
    font-size: 40px;
    position: initial;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
.contacto{
	display:inline-block;
}
a{
	text-decoration:none;
}
.copyright a:visited{
	color:rgb(128, 127, 127);
}
.copyright a:hover{
	color:white;
}
i{
	display:inline-block;
	color:rgb(128, 127, 127);
	font-size:35px;
	margin:0px, 2px;
}
i:hover{
	color:white;
}
#copyright{
	display:inline-block;
	float:left;
	margin-right:25px;
	height:100%;
}
.contactanos{
	text-align:left;
	color:rgb(128, 127, 127);
	}
#enviar{
	text-align:center;
}