body{
	background-color:#BDAD82;
}
div{
	text-align:left;
}
/*Diseño del menu*/
.menu{
    position: fixed;
    top:0px;
    background-color:#070838;
    width: 100%;
    margin: auto;
    border: 100%;
}
/*Subtemas*/
.linea{
    margin-left: 40px;
    border-left: 2px solid;
    border-left-color:#070838;
	padding: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/*noticias centrales en cada tema*/
.imagen_central{
	width:65%;
	margin-left:3%;
	text-align:left;
	display:inline-block;
	float:left;
	margin-right:1%;
}
.imagen_central img{
	width:100%;
	height:400px;
	display:inline-block;
	position:relative;
	left:0px;
}
/*position de imagenes detras del menu*/
img{
	z-index:-1;
}
/*Color de los encabezados*/
h1, h3{
	color:#070838;
}
.listado_De_Noticias_index{
	float:right;
	width:30%;
	margin-top:0;
	padding-top:0px;
	border:1px solid transparent;
}
.listado_De_Noticias{	
	height:100px;
	padding-bottom:5px;
	border:1px solid transparent;
	border-bottom:3px solid #070838;
	margin-bottom:5px;
	}
.listado_De_Noticias img{
	width:120px;
	height:100%;
	float:left;
	margin:0;
	margin-right:0.5%;
}
.listado_De_Noticias h3{
	margin-top:0;
}
#copyright{
    background-color:#070838;
}
